body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #089251;
}
header{
    background: #0077b6;
    padding: 15px;
    text-align: center;
}
header h1{
    color: black;
    margin: 0;
}
nav{
    background: #023e8a;
    padding: 10px;
    text-align: center;
}
nav a {
    color: green;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
.banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.container{
    padding: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
table, th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
form{
    max-width: 500px;
    background: white;
    padding: 20px;
    margin:auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}
input,select,textarea{
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    background: #0077b6;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    background: #023e8a;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 15px;
}
.gallery img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.contact{
    text-align: center;
}